
*{
  font-family: sans-serif;
}

canvas {
  position: absolute;
  z-index: 0;
  display:block;
  /*border: 2px solid red;*/
  margin: 0 auto;
}
.display-none {
display: none;
}

div {
  display: block;
  width: 700px;
  margin:0 auto;
}
.text-center {
  text-align: center;
}
#button {  
  text-align: center;
  display: block;
  margin: 0 auto;
 /* border: 2px solid red; */
}
#button:hover {
  background-color:white;
  color:rgb(24, 47, 63);
}
.content {
  margin-top: 25px;
}
h1 {
  font-family: 'Gugi', cursive;
  margin: 27px 0 0 0;
  font-size: 1.8em;
  text-transform: uppercase;
}

.placeholder {
  position: absolute;
  width: 650px;
  height: 950px;
  z-index: 1;
  background-color: rgb(24, 47, 63);
}
.header {
  position: absolute;
  z-index: 4;
  width: 650px;
  color: white;
  background-color:  rgb(24, 47, 63);
}
.btn-flicker {
  color:rgb(24, 47, 63);
}
/*
 body {
  background-color: blue;
} */
           